<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="SampleApp" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;user id=root;password=myadmin;database=nhtest;"/>
		<add name="SQLExpress" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NHibernateSample;Integrated Security=SSPI;"/>
	</connectionStrings>
	<system.web>
		<membership defaultProvider="SampleMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="SHA1">
			<providers>
				<clear/>
				<add name="SampleMembershipProvider" type="Sample.Components.SampleMembershipProvider,Sample.Components" connectionStringName="SampleApp" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="SampleRoleProvider">
			<providers>
				<clear/>
				<add connectionStringName="SampleRoleProvider" applicationName="/" name="SampleRoleProvider" type="Sample.Components.SampleRoleProvider,Sample.Components"/>
			</providers>
		</roleManager>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
